// Custom Globals
@import 'scss/custom-globals/scaffolding';
@import 'scss/custom-globals/variables';
@import 'scss/custom-globals/elements';

// Layout
@import 'scss/layout/header';
@import 'scss/layout/sidebar';

// Components
@import 'scss/components/login-page';
@import 'scss/components/dashboard';
@import 'scss/components/user-widget';
