// Color Variables
$primary:            #335C81;
$secondary:          #6CCFF6;
$accent:             #C2EFB3;
$light:              #F7F9F9;

$darkGray:           #4D5359;
$black:              #333333;
