.header{
    position: relative;
    z-index: 999;

    .top-bar{
        background: $primary;
        position: relative;

        @media(max-width: $screen-sm-max){
            padding: 0 5px;
        }

        a{
            color: $light;
        }
    }

    .logo{
        font-size: 2em;
        font-weight: normal;
        padding-left: 0;

        @media(max-width: $screen-sm-max){
            float: left;
            width: 75%;
        }

        span.tom{
            font-weight: bold;
            margin-right: -2px;
        }
        span.app{
            position: relative;
        }

        &:hover{
            i.fa{
                color: yellow;
            }
        }
    }
}
